:root {
	--rsi-dribbble: #ea4c89;
	--rsi-facebook: #3b5999;
	--rsi-google: #dc4e41;
	--rsi-instagram: #3f729b;
	--rsi-odnoklassniki: #f6900b;
	--rsi-periscope: #3fa4c4;
	--rsi-telegram: #2fa8df;
	--rsi-twitter: #55acee;
	--rsi-vkontakte: #45668e;
	--rsi-youtube: #bb0000;
	--rsi-whatsapp: #465b65;
}
